@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>This is AmberPan ASP.NET</h1>
    <p class="lead">這是第一週作業</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more »</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>客戶資料</h2>
        <p>
           客戶資料連結管理
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>客戶銀行資訊</h2>
        <p>
            客戶銀行資料管理
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>客戶聯絡人</h2>
        <p>客戶聯絡人管理</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>